@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  font-size: 22px;
}

body {
  font-family: 'Crimson Text', serif;
  width: 800px;
  margin: 1em auto;
}

h1, h2 {
  font-family: Lato, sans-serif;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0.5em;
}

h1 {
  text-align: center;
}

h2::before {
  content: '> ';
}

a {
  color: #faa;
  text-decoration: inherit;
}

p {
  margin: 0;
  text-align: justify;
}

p + p {
  margin-top: 0.5em;
}

center {
  text-align-last: center;
}

table {
  width: 100%;
  margin: 0.5rem 1rem;
}

.sans {
  font-family: Lato, sans-serif;
}

.large-1 {
  font-size: 1.2em;
}

.small-1 {
  font-size: 0.8em;
}

.small-2 {
  font-size: 0.6em;
}

.light {
  color: #aaa;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: #eee;
  margin: 1em 0;
}

.block {
  padding: 1em;
  margin: 1em;
  border: 2px solid #eee;
}

.table-list {
  text-align: center;
  border: 0;
  border-spacing: 0;
}

#friends tr td a {
  color: inherit;
}